/* section Filter style */
.filters {
    background: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD;
    border-radius: 4px;
    border-style: solid;
    position: relative;
}

/* style Search button */
.btn {
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -24px;
    box-sizing: border-box;
}
.btn:hover {
    opacity: 90%;
}

/* style location and amenities */
.amenities,
.locations {
    height: 100%;
    width: 25%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.locations {
    border-right: 1px solid #DDDDDD;
}
.amenities h3,
.locations h3 {
    font-weight: 600;
    box-sizing: border-box;
    margin-bottom: 0;
    width: 100%;
}

.amenities h4,
.locations h4 {
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 0;
    width: 100%;
}